.Activity{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.Activity-Container{
    padding: 15px;
    position: relative;
    width: 300px;
    height: 300px;
}

.Activity-Img{
    object-fit: cover;
    width: 300px;
    height: 250px;
    display: block;
}
.Activity-Title{
    position: absolute;
    bottom: 28px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.53);
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    width: 300px;
    height: 50px;
}


/* @media (min-width: 700px) {
    .Activity-ContainerImg{
        width: 160px;
        height: 160px;
    }
}
@media (min-width: 1024px) {
    .Activity-ContainerImg{
        width: 180px;
        height: 170px;
    }
}

@media (min-width: 1500px) {
    .Activity-ContainerImg{
        width: 300px;
        height: 220px;
    }
} */



