.carouselDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}

.carouselItem{
    width: 80%;
    background-color: transparent;
}
.carouselImg{
    height: 70vmin;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(60%) contrast(106%);
}