.Carousel-img{
    height: 270px;
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}
.Caorusel{
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.Carousel-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Carousel-cities{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  10px 26px;
}

.Carousel-citiesName{
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 500;
}