.Details{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.Details-img{
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%) contrast(106%);
    position: absolute;
    /* object-position: 0px -30px */
}
.Details-containe-p{
    width: 340px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Details-p{
    color: white;
    text-align: center;
}
.country{
    text-transform: uppercase;
    font-weight: bold;

}
#Detaials-h2{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.ItinerariesContainer{
    z-index: 20;
    width: 100%;
    /* height: 100vmin; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}