.Footer-container{
    background-color: #4281a4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 100%;
}

.Footer-web{
    display: flex;
    align-items: center;
    gap: 25px;
}
.Footer-icon{
    width: 60px;
    filter: invert(1);
}

.Footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.Footer-github{
    text-decoration: none;
    color: white;
}

.Footer-scroll {
    position: absolute;
    right: 30px;
    font-size: 100px;
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
}

.Footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer-navLink{
    color: white;
    text-decoration: none;
    font-size: 26px;
    border: 3px solid white;
    border-radius: 8px;
    padding: .3rem 1rem;
    margin: 1rem;
    font-weight: 600;
}


@media (max-width: 768px) {
    .Footer-container{
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .Footer-copyright{
        font-size: 25px;
    }
}