.Footer-container{
    background-color: rgba(117, 206, 235, 0.792);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.Footer-web{
    display: flex;
    align-items: center;
    gap: 30px;
}
.Footer-icon{
    width: 60px;
}

.Footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
}