.likeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.likeButton{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin: 12px;
}
.likeNro{
    margin: 0;
}
.red{
    color: red;
}

.white{
    color: rgba(0, 0, 0, 0.96);
}

