.cityImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(60%) contrast(100%);
}
.cityContainerCard{
    margin: 15px;
    width: 70%;
}
.cityCard{
    transition: all 0.2s ease 0s;
}

.cityCard:hover{
    transform: translateY(-5px);
}
.cityCard:active{
    transform: translateY(-1px);
}

@media (min-width:768px) {
    .cityImg{
        height: 290px;
    }
    .cardImgOverlay{
        min-width: 50%;
    }
    .cityContainerCard{
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}