.Text-Container{
    display: flex;
    flex-direction: column;
}


.Text-Button{
    font-size: 20px;
    background-color: white;
    width: 30px;
    font-weight: 700;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;
    margin-bottom: 5px;
}

.active{
    background-color: antiquewhite;
}

.Text-Area{
    resize: none;
    font-size: 20px;
    border: none;
    width: 97%;
    height: 150px;
    /* border: 1px solid #000000d8; */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 3px;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder);
    opacity: 0.5;
}

.Text-Area:focus{
    outline: none;
}