 

.Welcome-conatiner{
    background-image: url(../../public/Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    height: 100vh;
}

.Welcome-title{
    font-size: 110px;
    font-weight: 700;
}

.Welcome-slogan{
    font-size: 30px;

}